@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ambery Garden";
  src: url("/fonts/AmberyGarden-Regular.woff2") format("woff2"),
    url("/fonts/AmberyGarden-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lupines";
  src: url("/fonts/Lupines.woff2") format("woff2"),
    url("/fonts/Lupines.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
